/* default && mobile */

https://tenman.info/labo/css/?p=4330

.hover-drawing-container {
    width:300px }
.hover-drawing-container .drawing-content {
    visibility:hidden;
    transition:visibility 1s }
.hover-drawing-container .sibling-hover-draw {
    visibility:visible;
    padding:.5em;
    font-weight:700 }
.hover-drawing-container .sibling-hover-draw,.hover-drawing-container .drawing-content {
    display:block;
    box-sizing:border-box;
    position:static;
    margin-top:0 }
.hover-drawing-container .drawing-content {
    position:static;
    padding-top:1em }
.hover-drawing-container:hover .drawing-content {
    visibility:visible }
.hover-drawing-container .sibling-hover-draw,.hover-drawing-container .drawing-content {
    border:1px solid #ccc;
    width:300px;
    max-width:none }
.hover-drawing-container .drawing-content {
    border-top:none }



#nav li a span.en {
    display: inline;
    text-decoration: none;
}
#nav li a:hover span.en {
    display: none;
    text-decoration: none;
}
#nav li a span.jp {
    display: none;
    text-decoration: none;
}
#nav li a:hover span.jp {
    display: inline;
    text-decoration: none;
}


/* 通常時はホバー時の文字を非表示にする */
a .hover{
display: none;
text-decoration: none;	
}

/* ホバー時は通常時の文字を非表示にする */
a:hover .nomal{
display: none;
text-decoration: none;
}

/* ホバー時に、ホバー時の文字を表示する */
a:hover .hover{
display: inline;
text-decoration: none;
}


.button span {
	display: inline-block;
	position: absolute;
	width: 200px;
	height: 60px;
	border: 2px solid #333;
	text-align: center;
	line-height: 60px;
}
.button span:nth-child(1) {
	background-color: #fff;
	color: #333;
 
}
.button span:nth-child(2) {
	background-color: #333;
	color: #fff;
 
}
.button:hover span:nth-child(2) {
	display: none;
}

.cp_tooltip {
	display: inline-block;
}
.cp_tooltiptext {
	position: relative;
	cursor: pointer;
	background: linear-gradient(transparent 60%, #f19ec2 60%);
}
.cp_tooltiptext::after {
	position: absolute;
	transition: all 0.3s ease 0s;
	opacity: 0;
	top: 0px;/*HOVERのスタート位置*/
	left: 0px;
	display: block;
	padding: 0.2em 0.5em;
	content: attr(data-tooltip);
	white-space: nowrap;
	color: #ffffff;
	border-radius: 6px;
	background: #1b2538;
}
.cp_tooltiptext:hover::after {
	top: 26px;/*HOVER位置*/
	opacity: 1;
}


/*
.iki-q-jp{
  text-align: left;
}

.iki-a-jp{
  text-align: right;
}
*/

/* 通常時はホバー時の文字を非表示にする */
a.hover{
display: none;
}

/* ホバー時は通常時の文字を非表示にする */
a:hover .nomal{
display: none;
}

/* ホバー時に、ホバー時の文字を表示する */
a:hover .hover{
display: inline;
}


.iki-q-jp {
    width: 300px;
    height: 300px;
    text-align: center;
    background: green;
    overflow: hidden;
}
p {
    line-height: 300px;
    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -ms-transition: margin 1s;
    -o-transition: margin 1s;
    transition: margin 1s;
    margin: 0;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
}

p:hover {
    margin-top:-300px;
}