/* default && mobile */



.hover-drawing-container {
    width:100% }
.hover-drawing-container .drawing-content {
    visibility:hidden;
    transition:visibility 1s }
.hover-drawing-container .sibling-hover-draw {
    visibility:visible;
    padding:.5em;
    font-weight:700 }
.hover-drawing-container .sibling-hover-draw,.hover-drawing-container .drawing-content {
    display:block;
    box-sizing:border-box;
    position:static;
    margin-top:0 }
.hover-drawing-container .drawing-content {
    position:static;
    padding-top:1em }
.hover-drawing-container:hover .drawing-content {
    visibility:visible }
.hover-drawing-container .sibling-hover-draw,.hover-drawing-container .drawing-content {
    border:0px solid #ccc;
    width:100%;
    max-width:none }
.hover-drawing-container .drawing-content {
    border-top:none }

